# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

CV_Vieux_Mbaye_NDOUR.pdf
memoire_Vieux_Mbaye.pdf
Capture du 2026-07-19 16-36-48.png
WhatsApp Image 2026-07-19 at 15.29.56.jpeg
